---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
spec:
  interval: 1h
  chart:
    spec:
      chart: longhorn
      version: 1.11.0
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: longhorn-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    persistence:
      defaultDataLocality: best-effort
    defaultSettings:
      defaultDataPath: "/var/mnt/longhorn"
      replicaDiskSoftAntiAffinity: false
      createDefaultDiskLabeledNodes: true
      defaultDataLocality: best-effort
      defaultLonghornStaticStorageClass: longhorn
      defaultReplicaCount: "2"
      guaranteedEngineManagerCPU: "5"
      guaranteedReplicaManagerCPU: "5"
      nodeDownPodDeletionPolicy: do-nothing
      orphanAutoDeletion: false
      deletingConfirmationFlag: false
      reclaimPolicy: retain
      replicaAutoBalance: best-effort
      storageMinimalAvailablePercentage: "5"
      storageReservedPercentageForDefaultDisk: "10"
    defaultBackupStore:
      backupTarget: s3://home-ops-test-longhorn-backup@eu-west-3/
      backupTargetCredentialSecret: longhorn-s3-secret
    ingress:
      enabled: false
    metrics:
      serviceMonitor:
        enabled: true