apiVersion: v1
kind: Secret
metadata:
  name: talos-etcd-s3-keys
  namespace: kube-system
  # change me - base 64 encoded AWS access key ID
  accessKeyId: 0T7OVLSPOM2NAVHS0OGO
  # change me - base64 encoded AWS secret access key
  secretAccessKey: OA2GNynwBPClnbd1NXjmo2nKweJGuOX2yKLg8sg3
  # change me - base64 encoded encryption key (generate randomly)
  resticKey: MjpHO1MoU0dGSDxebzAoP0R+e152Myw5SVZLWnNXUGw=
  # change me - prefix your bucket URL with s3:
  bucketName: s3:s3.eu-west-3.wasabisys.com/home-ops-test-etcd-backup
  # e.g. s3:https://s3.eu-west-2.amazonaws.com/example-bucket
type: Opaque
sops:
  age:
    - recipient: age1gc7a4ma6xs7hnrq52ygv4ay6rlznmqr28s6mjptal2m0ghuf8ptqyqqq9p
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBNTTlZbXpNODB2aEU2T2J3
        Wm1uNmc1NGNRcWorMDJ5aklxWDdjcmplTURNCklab1BIREZNUVFlV0dic0kvVVZE
        dFJVamUxbE9ISVJjQXNaZnRMWjhFSXMKLS0tIFhoNnN1OHdDbVVtc2NPR3Y5Y3hU
        ZUdoSXM1RWQ3Y0VySml5Y2Q5NEN1cmcKSQf8AK6YACY5I6qkccRHhfIAiYFd08Nu
        JmJ8JLxdeuViRzT/JtQeshT6DVlsyP458symvD3mJhLNFzvecAjVBg==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2026-01-25T18:50:58Z"
  mac: ENC[AES256_GCM,data:OYEm28X2ucrbfdgo5Wz9LJef894ViHUvTjBTHrtIwE/1yvDwJeTe1FQ/+78Tdlm6ricUp5U4RrX4UQRcKC5lzWltKcYUJh0Mo0akzk9wqLGc6aSXuS5Xazg2ylhr7SNqdhOlmgQdlmGJ5tcFswM8MhEBqvUi1xpiXrw+Thk0u70=,iv:NeuPi7ijz/CYEqhstxxhbYCGuSk5tMd1W5RdtoMce2E=,tag:AgShVtlCG9DBSIppqhuWSg==,type:str]
  encrypted_regex: ^(data|stringData)$
  mac_only_encrypted: true
  version: 3.11.0
